<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Wie viel Stau hat es am Gotthard?</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script|Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/92c88b8f59.js" crossorigin="anonymous"></script>
</head>
<body class="{{ jams.body_class }}">
    <h1 class="title">Wie viel Stau hat es am Gotthard-Tunnel?</h1>
    <div class="wrapper">
      {% if jams.south %}
        <div class="jam-section">
            <h2><i class="fas fa-compass"></i> S</h2>
            <h2>{{ jams.south.length_kilometers }} km Stau in Richtung Süden</h2>
            <h3><i class="fas fa-clock"></i> {{ jams.south.waiting_time_minutes }} min Wartezeit</h3>
            <h3>{{ jams.south.age_minutes > 60 if "vor {} Stunden".format(jams.south.age_minutes/60) else "vor {} Minuten".format(jams.south.age_minutes) }}</h3>
        </div>
      {% endif %}
      {% if jams.north %}
        <div class="jam-section">
            <h2><i class="fas fa-compass"></i> N</h2>
            <h2>{{ jams.north.length_kilometers }} km Stau in Richtung Norden</h2>
            <h3><i class="fas fa-clock"></i> {{ jams.north.waiting_time_minutes }} min Wartezeit</h3>
            <h3>{{ jams.north.age_minutes > 60 if "vor {} Stunden".format(jams.north.age_minutes/60) else "vor {} Minuten".format(jams.north.age_minutes) }}</h3>
        </div>
      {% endif %}
      {% if not jams.north and not jams.south %}
        <div class="jam-section">
            <h2>Kein Stau am Gotthard 😊</h2>
        </div>
      {% endif %}
    </div>
</body>
</html>